<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Miguel Ángel Vargas Navarro</title>

		<link
			rel="shortcut icon"
			href="../assets/svg/MAVN16x16.svg"
			type="image/x-icon"
		/>
		<link
			rel="shortcut icon"
			href="../assets/svg/MAVN32x32.svg"
			type="image/x-icon"
		/>
		<link
			rel="shortcut icon"
			href="../assets/svg/MAVN.svg"
			type="image/x-icon"
		/>

		<link rel="stylesheet" href="../styles/style.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="height-100vh-index">
			<header>
				<div class="title">
					<h1>Mis Hobies</h1>
				</div>

				<nav class="header_nav">
					<a href="../index.html" class="a_hover">Inicio</a>
					<a href="./aboutMe.html" class="a_hover">Sobre mi</a>
					<a href="#" class="a_hover">Mis hobies</a>
					<a href="./myFamily.html" class="a_hover">Mi familia</a>
				</nav>
			</header>

			<main>
				<section class="hobies">
					<h2>Mis hobies</h2>

					<div class="hobies_img">
						<img
							src="../assets/hobies.jpg"
							alt="Foto de Miguel Ángel Vargas Navarro"
						/>
					</div>

					<p class="paragraf-hobies">
						Me gusta usar mi timepo libre para difrentes actividades
						entre ellas, ver peliculas, ver series, escuchar musica,
						jugar videojuegos, leer algunos de los videojuego que me
						gustan son
					</p>

					<div class="main_div--hobies">
						<article class="hobies_article hobies_article--minecraft">
							<h3>
								<a
									href="https://www.minecraft.net/es-es/about-minecraft"
									target="_blank"
									>Minecraft</a
								>
							</h3>

							<div class="hobies_img--minecraft div--game_img">
								<img
									src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png"
									class="hobies_img--minecraft game_img"
								/>
							</div>
						</article>

						<article class="hobies_article hobies_article--valorant">
							<h3>
								<a
									href="https://playvalorant.com/es-mx/"
									target="_blank"
									>Valorant</a
								>
							</h3>
							<div class="hobies_img--valorant div--game_img">
								<img
									src="https://wallpapers.com/images/featured/valorant-logo-x0jet8s98hbbfi62.jpg"
									class="hobies_img--valorant game_img"
								/>
							</div>
						</article>

						<article class="hobies_article hobies_article--minecraft">
							<h3>
								<a
									href="https://www.minecraft.net/es-es/about-minecraft"
									target="_blank"
									>Clash Royale</a
								>
							</h3>
							<div class="hobies_img--minecraft div--game_img">
								<img
									src="https://images.frandroid.com/wp-content/uploads/2016/01/clash-royale.jpg"
									class="hobies_img--minecraft game_img"
								/>
							</div>
						</article>
					</div>
				</section>
			</main>

			<footer>
				<p>
					© 2024 Miguel Ángel Vargas Navarro - Todos los derechos
					reservados
				</p>
			</footer>
		</div>
	</body>
</html>
