<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miguel Ángel Vargas Navarro</title>

    <link rel="stylesheet" href="../styles/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="title">
            <h1>Miguel Ángel Vargas Navarro</h1>
        </div>

        <nav class="header_nav">
            <a href="../index.html">Inicio</a>
            <a href="#">Sobre mi</a>
            <a href="./hobies.html">Mis hobies</a>
            <a href="./myFamily.html">Mi familia</a>
        </nav>
    </header>

    <br>
    <hr>
    <br>

    <main>
        <section class="about_me">  

            <h2>Sobre mi</h2>

            <div class="about_me_img">
                <img src="../assets/me.jpg" alt="Foto de Miguel Ángel Vargas Navarro">
            </div>

            <p class="paragraf-about_me">Soy un estudiante de 19 años apasinoado por las nuevas tecnologias, vengo estudiando por mi cuenta hace un timpo, hice un curso de programacion web fullStack en la academia Argentina <a href="https://www.digitalhouse.com/co/productos">Digital House</a>, actualmente estoy estudiando un tecnolgo de analisis y dessarrollo de software (ADSO) del SENA. <br> Mi objetivo es mejorar mi conocimiento de programación , y mejorar mi habilidad para trabajar en equipo y colaborar con otros profesionales.</p>

        </section>
    </main>

    <br>
    <hr>
    <br>

    <footer>
        <p>© 2024 Miguel Ángel Vargas Navarro - Todos los derechos reservados</p>
    </footer>

    <br>
    <hr>
    <br>

</body>
</html>