<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		<link rel="stylesheet" href="../styles/style.css" />
		<link rel="stylesheet" href="../styles/header-footer.css" />
		<link rel="stylesheet" href="../styles/index.css" />
	</head>
	<body>
		<div class="max-width-1400px">
			<header class="header">
				<section class="header_section header_section-top">
					<h1 class="header_h1 title">
						Diseño <span class="color-blue">Multimedia</span>
					</h1>

					<nav class="header_nav">
						<ul class="header-nav_ul">
							<a href="/" class="nav-ul_a">INICIO</a>
							<a href="#" class="nav-ul_a"
								><span class="color-blue">NOSOTROS</span></a
							>
							<a href="./services.html" class="nav-ul_a">SERVICIOS</a>
							<a href="./contact.html" class="nav-ul_a">CONTACTO</a>
						</ul>
					</nav>
				</section>

				<section class="header_section header_section-buttom">
					<h3>Suscribete a nuestro boletín</h3>
					<form action="" method="post">
						<input type="text" placeholder="ingrese el Email" />
						<button type="submit">Suscribete</button>
					</form>
				</section>
			</header>

			<main class="main main--about">

				<section class="mani_section section_main--about">
						<h2>Nosotros</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias quidem laboriosam, eveniet inventore, ea sed quas corporis ex asperiores soluta nemo fugit culpa accusamus debitis. Iure dicta quod mollitia!
						Obcaecati ut, saepe eum aut quidem animi quo, officia eveniet sequi neque incidunt ipsa dolores minus a quam. Id harum nobis quod molestiae aliquam a autem expedita, accusamus soluta. Possimus.
					</p>

					<div class="baground-gray">
						<p>				
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aperiam necessitatibus voluptatem voluptatum fuga repellat quisquam, optio dolore quam rerum veritatis in commodi dolor, beatae labore, eveniet laudantium expedita! Necessitatibus.
							Voluptates exercitationem, impedit voluptatum esse eum doloribus autem enim at mollitia tempora vero possimus cumque consectetur suscipit provident dolorum, ea temporibus nisi minima itaque voluptatibus cupiditate nesciunt asperiores. Illo, nemo.
							Commodi soluta quidem vero, itaque officia deleniti qui earum iusto sunt! Quos dolore in sunt dolorem! Ea fugiat est consectetur sunt nisi. Sint, fugit. Mollitia dolor autem rem alias itaque!
							Adipisci ipsa aperiam tempora reiciendis suscipit harum, vel labore culpa dolor corrupti doloremque sit! Blanditiis recusandae, magni aliquid ullam vel soluta ipsam ab nulla, optio repellendus suscipit tenetur nesciunt voluptatem?
						</p>
					</div>

					<div class="article_picture">
						<img src="../images/891.jpg" alt="Teclado, Computador, Diseño-Multimedia, Proyecto-Graphel">
					</div>
				</section>

				<aside class="main_aside">
					<article class="aside_article baground-gray">
						<h2>
							Que hacemos
						</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque delectus accusamus fugiat veritatis neque cupiditate, rem doloribus laudantium enim perspiciatis facilis distinctio eum eos ullam aut aspernatur dicta est dolore.
						</p>
					</article>
				</aside>

			</main>


			<footer class="footer">
				<p class="footer_p">Graphel Desarrollo Web, Copyright © 2017</p>
			</footer>
		</div>
	</body>
</html>
