<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header-footer.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>

    <div class="max-width-1400px">
        <header class="header">
            <section class="header_section header_section-top">
                <h1 class="header_h1 title">
                    Diseño <span class="color-blue">Multimedia</span>
                </h1>

                <nav class="header_nav">
                    <ul class="header-nav_ul">
                        <a href="../index.html" class="nav-ul_a">INICIO</a>
                        <a href="./about.html" class="nav-ul_a"
                            >NOSOTROS</a
                        >
                        <a href="./services.html" class="nav-ul_a">SERVICIOS</a>
                        <a href="./contact.html" class="nav-ul_a"><span class="color-blue">CONTACTO</span></a>
                    </ul>
                </nav>
            </section>

            <section class="header_section header_section-buttom">
                <h3>Suscribete a nuestro boletín</h3>
                <form action="" method="post">
                    <input type="text" placeholder="ingrese el Email" />
                    <button type="submit">Suscribete</button>
                </form>
            </section>
        </header>

        <main class="main main--contact">
            <section class="main_section main_section-contact">
                <h2>Contacto</h2>
            </section>

            <aside class="main_aside">
                <article class="aside_article baground-gray">
                    <h2>
                        ¿Tienes un problema?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque delectus accusamus fugiat veritatis neque cupiditate, rem doloribus laudantium enim perspiciatis facilis distinctio eum eos ullam aut aspernatur dicta est dolore.
                    </p>
                </article>
            </aside>
        </main>


        <footer class="footer">
            <p class="footer_p">Graphel Desarrollo Web, Copyright © 2017</p>
        </footer>
    </div>
</body>
</html>